@page
@model ParkNet.Pages.Prices.TariffsTickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (Model.User.Identity.IsAuthenticated && Model.User.Identity.Name == "admin@parknet.pt")
    {
        <a asp-page="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TariffTicket[0].VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TariffTicket[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TariffTicket[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TariffTicket)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (Model.User.Identity.IsAuthenticated && Model.User.Identity.Name == "admin@parknet.pt")
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
