@page
@model ParkNet.Pages.Profile.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>User Profile</h1>
<br />
<br />
<p>
    @if (Model.Customer.Count == 0)
    {
        <a asp-page="Create">Edit Profile</a>
    }
    else
    {
        <a asp-page="Edit" asp-route-id="@Model.Customer[0].Id">Edit Profile</a>
        <table class="table">
            <tr>
                <td><strong>Email</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].Email)</td>
            </tr>
            <tr>
                <td><strong>Name</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].Name)</td>
            </tr>
            <tr>
                <td><strong>Birth Date</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].BirthDate)</td>
            </tr>
            <tr>
                <td><strong>Vat Number</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].VatNumber)</td>
            </tr>
            <tr>
                <td><strong>Drivers License Number</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].DriversLicenseNumber)</td>
            </tr>
            <tr>
                <td><strong>Drivers License Exp Date</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].DriversLicenseExpDate)</td>
            </tr>
            <tr>
                <td><strong>City</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].City)</td>
            </tr>
            <tr>
                <td><strong>Country</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].Country)</td>
            </tr>
            <tr>
                <td><strong>Country Code</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].CountryCode)</td>
            </tr>
            <tr>
                <td><strong>Phone Number</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].PhoneNumber)</td>
            </tr>
            <tr>
                <td><strong>Payment Method</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].PaymentMethod)</td>
            </tr>
            <tr>
                <td><strong>Payment Data</strong></td>
                <td>@Html.DisplayFor(model => model.Customer[0].PaymentData)</td>
            </tr>
        </table>
    }