@page
@model ParkNet.Pages.Prices.TariffsPermits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Permit Prices</h1>

<p>
    @if(Model.User.Identity.IsAuthenticated && Model.User.Identity.Name == "admin@parknet.pt")
    {
        <a asp-page="Create">Add Price</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TariffPermit[0].VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TariffPermit[0].PermitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TariffPermit[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TariffPermit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @if (Model.User.Identity.IsAuthenticated && Model.User.Identity.Name == "admin@parknet.pt")
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                    }
            </td>
        </tr>
}
    </tbody>
</table>
